---
import "../styles/global.css";
import AppRouter from '../components/AppRouter.jsx';
---

<html lang="en">
  <head>
    <title>Handpicked Startup Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Other meta tags -->
  </head>
  <body class="bg-gray-100 text-gray-900">
    <main role="main" class="min-h-screen flex items-center justify-center p-4">
      <AppRouter client:load />
    </main>
  </body>
</html>/